.gi-header {
    display: flex;
    justify-content: space-between;
    /* text-align: right; */
    padding: 10px 0 15px;
}

.gi-modal {
   background-color: #fff;
   padding: 40px; 
   font-size: 18px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   border-radius: 6px;
}

.gi-modal-header{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    /* justify-items: center; */
    margin-bottom: 20px;
}
.gi-link {
    margin: 4px 20px;
}

.gi-image, .gid-image {
    border-radius: 50%;
}

.gi-image + .ant-image-mask, .gid-image + .ant-image-mask  {
    border-radius: 50% ;
}
.gi-name {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 10px 0 20px 10px;
}
.gi-icon-check {
    color: #43DA86;
    margin-left: 10px;
    font-size: 20px;
}
/* .ant-image .ant-image-mask {
    border-radius: 50% ;
} */

.gid-modal {
    /* overflow-y: scroll; */
}
.gid-modal .ant-form-item {
    margin-bottom: 0;
}

.gid-modal .ant-modal-title {
    font-size: 24px;
}

.gid-image {
    width: 250px;
}

.gi-socialNetwork {
    /* display: flex; */
    margin-top: 8px;
    margin-right: 12px;
    padding: 0 10px;
    text-align: center;
}

.gi-socialNetwork-link {
    margin-left: 5px;
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}