.gi-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 15px;
}

.gi-modal {
   background-color: #fff;
   padding: 40px; 
   font-size: 18px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.gi-modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gi-link {
    margin: 4px 20px;
}

.gi-image {
    border-radius: 50%;
}

.ant-image .ant-image-mask {
    border-radius: 50% ;
}