.sign-up {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  width: 900px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 80px 90px;
  box-sizing: border-box;
}

.typeOfRegis {
  display: flex;
  justify-content: flex-start;
}

.typeOfRegis span {
  display: block;
  width: 40%;
  border: none;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

.typeOfRegis span.active {
  background-color: #dee2e6;
  color: var(--color-blue);
}

.signup-image {
  width: 80%;
  overflow: hidden;
  /* margin-left: auto; */
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.image-login,
.switch-regis {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.switch-regis {
  margin-top: 20px;
}

.switch-regis:link,
.switch-regis:visited {
  text-align: center;
  text-decoration: none;
  color: #444;
}

.switch-regis:hover,
.switch-regis:active {
  text-decoration: underline;
  color: darkturquoise;
}

.form-title {
  font-size: 36px;
  letter-spacing: -1px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-top: 20px;
}

.form-group input {
  width: 90%;
  display: block;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 6px;
  box-sizing: border-box;
  outline: none;
}

.form-group-checkbox {
  display: flex;
  font-size: 16px;
  margin-top: 20px;
}

.agree-term {
  width: 16px;
  appearance: checkbox;
}

.label-agree-term {
  margin-left: 10px;
}

.button-login {
  /* width: 90%; */
  display: block;
  width: 90%;
  margin-top: 20px;
  font-size: 16px;
  padding: 15px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 6px;
}

.link-next {
  width: 85%;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 6px;
  text-align: center;
}

/* .link-next span {
  display: block;
  text-align: center;
} */

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.container-2 {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px; */
  width: 900px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 80px 90px;
  box-sizing: border-box;
}

.login-form-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 60px;
}
