.user-regis {
  // display: flex;
  // justify-content: center;
  // min-height: 100vh;
  // background: linear-gradient(135deg, #22c1c3 0%, #fdbb2d 100%);
  // padding-top: 80px;
  // padding-bottom: 50px;

  .user-container {
    // width: 1200px;
    // margin: auto;
    border-radius: 12px;
    background-color: white;
    padding: 70px 10px;
    box-sizing: border-box;

    .user-title {
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 20px;
    }

    .options {
      display: flex;
      gap: 30px;
      margin-bottom: 20px;

      button {
        font-weight: 600;
        font-size: 12px;
        padding: 9px 20px !important;
        border: 1px solid #e9ecef !important;
        border-radius: 4px;
        line-height: 18px;
        height: auto;
        cursor: pointer;
        background: #e9ecef !important;
        color: #7d7d7e;
      }

      .active {
        font-weight: 600;
        font-size: 12px;
        padding: 9px 20px !important;
        border: 1px solid var(--color-blue) !important;
        border-radius: 4px;
        line-height: 18px;
        height: auto;
        cursor: pointer;
        background: var(--color-blue) !important;
        color: #ffffff !important;
      }

      button:hover {
        opacity: 0.8;
      }
    }

    .form-regis {
      .regis-footer {
        .regis-button {
          display: block;
          width: 160px;
          margin-left: auto;
        }

        .sign-up {
          display: block;
          text-align: center;
          margin-top: 50px;

          a {
            color: rgba(0, 0, 0, 0.88);
          }

          a:hover {
            color: #1677ff;
          }
        }
      }
    }

    .charity-form {
      .form-regis {
        p {
          font-size: 16px;
          font-weight: 500;
          // margin-top: 16px;
        }
      }
    }
  }
}
