.page-layout-app {
    padding: 56px 0 0 256px;
    background: var(--color-background);
    min-height: calc(100vh - 56px);
}

.page-layout-sidebar {
    position: fixed;
    width: 256px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 1;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.051));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-l-s-container {
    display: flex;
    gap: 24px;
    min-width: 200px;
    margin: 8px 0;
    color: unset;
    align-items: center;
}

.p-l-s-container:hover {
    text-decoration: underline;
}

.p-l-s-icon span {
    font-size: 28px;
}

.p-l-s-container div {
    font-size: 16px;
    font-weight: 600;
}

.p-l-s-container div:hover {
    cursor: pointer;
}


.page-layout-header {
    position: fixed;
    height: 56px;
    top: 0;
    left: 256px;
    right: 0;
    background: var(--color-blue);
    z-index: 1;
    box-shadow: 0px 10px 40px rgba(56, 56, 58, 0.04);
}
.ant-menu-title-content {
    margin-left: 20px !important;
}
.ant-menu-item {
    height: 50px !important;
}
.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
    background-color: var(--color-background) !important;
}
.ant-menu-item.ant-menu-item-selected {
    background-color: #E6F7FF !important;
}
.ant-menu-sub.ant-menu-inline {
    background: none !important;
}