.upload-image-sv .ant-upload.ant-upload-select {
    width: 164px !important;
    height: 164px !important;
}
.upload-image-sv .ant-upload-list-item-container {
    width: 164px !important;
    height: 164px !important;
}


