.campaign-list-actions {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.campaign-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.campaign-list-table {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 16px;
    padding: 8px 8px;
}

.header-title {
    display: flex;
    align-items: center;
    height: 48px;
}

.h-t-name {
    font-size: 18px;
    font-weight: 600;
}

.campaign-list-title .c-l-t-name {
    font-size:28px;
    font-weight: 600;
}



.actions-hide{
    font-size: 18px;
    color: green;
    cursor: pointer;
}

.actions-edit {
    font-size: 18px;
    color: orange;
    cursor: pointer;

}

.actions-delete {
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.preview {
    cursor: pointer;
    font-size: 14px;
    color: unset;
}

.preview:hover {
    text-decoration: underline;
}

/* :where(.css-dev-only-do-not-override-1me4733).ant-divider-horizontal {
    margin: 0 !important;
} */

.ant-divider {
    margin: 0 !important;
}

.block-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.block-container label {
    width: 100%;
}


.modal-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.modal-body{
    margin: 32px 0;
}



