* {
    box-sizing: border-box;
}

.campaign-preview-container{
    // position: relative;

    // .segmented-preview {
    //     position: -webkit-sticky;
    //     position: sticky;
    // }

}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.n-b-left{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: bold;
}

.n-b-l-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-b-right{

}

.segmented-app {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-p-c-content {
    width: 100%;
    background-color: #fff;
    padding: 32px 64px;
    margin: 0 auto;
    border-radius: 16px;
    position: relative;
}

.btn-preview-edit {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #34B1F8;
    position: absolute;
    right: 24px;
    top: 18px;
}

.btn-preview-save {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #34B1F8;
    margin-top: 12px;
}

.content-info {

    .form-group {
        margin-bottom: 12px;

        .description-name {
            border-left: 4px solid var(--color-blue);
            font-size: 18px;
            font-weight: 600;
            padding: 0 8px;
            margin-bottom: 4px;
        }

        .description-info {
            font-size: 16px;
            font-style: italic;
        }
    }
}

.activity-container {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px 20px 30px;

    .header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .h-t-name {
            margin-left: 24px;
        }
    
        .btn-create-post {
            border: none;
            outline: none;
            padding: 8px 16px;
            height: 32px;
            min-width: 80px;
            background-color: #1677ff;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #4096ff;
            }
        }
    }

}

.statement-container{

}
.s-c-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.s-c-down {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px 20px 30px;
}

.total-donor{
    font-size: 16px;
    font-weight: 600;
}
.btn-actions{
    display: flex;
    align-items: center;
    gap: 8px;

    label {
        background-color: #34B1F8;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        // margin-top: 4px;
    }

    .custom-file-input {
        // width: 0.1px;
        // height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
      
}
.btn-action-import, .btn-action-export{
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #34B1F8;
    // margin-top: 12px;
}
.btn-action-export{

}

.statement-table {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 16px;
    
    .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h-t-name {
            margin-left: 24px;
        }

        .h-t-tai-file-mau {
            padding: 8px 16px;
            border: none;
            outline: none;
            color: white;
            background-color: #34B1F8;
            border-radius: 8px;
            cursor: pointer;
        }
    }

}

.statistical-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistical-up{
    display: flex;
    gap: 50px;
    margin: 30px 0;
}
.s-t-left{
    width: 415px;
    height: 213px;
    background-color: #fff;
    border-radius: 20px;
    padding: 4px 8px;
}

.s-t-l-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.thong-ke{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thong-ke div {
    min-width: 200px;
    font-size: 13px;
}

.s-t-l-title, .s-t-r-title {
    font-weight: 600;
    font-size: 16px;
}

.s-t-right{
    width: 415px;
    height: 213px;
    background-color: #fff;
    border-radius: 20px;
    padding: 4px 8px;
}

.statistical-down {
    width: 888px;
    height: 258px;
    background-color: #fff;
    border-radius: 20px;
    padding: 4px 8px;

}