.home-item-header span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
}
.home-item-header span:hover {
    color: var(--color-blue);
}
.btn-app,
.btn-app:hover {
    background-color: var(--color-blue) !important;
}

.landing-page-footer{
    background-color: #2c2c2c;
    padding: 70px 20px 50px;
    color : white;
    justify-content: space-between;
    display: flex;
  }
  .landing-page-footer .landing-page-footer-middle > div  {
    display: flex;
    justify-content:center;
  }
  .landing-page-footer .landing-page-footer-middle > div > a {
    border: 1px solid white;
    color: white !important;
    padding: 7px 30px;
    margin-bottom: 50px;
  }
  .landing-page-footer .landing-page-footer-middle > div > a:hover {
    border: 1px solid var(--color-blue);
    color: var(--color-blue) !important;
  }
  .landing-page-footer .landing-page-footer-middle > div > span {
    margin: 0 20px;
    font-size: 20px;
  }
  .landing-page-footer  .landing-page-footer-middle> div:last-child {
    flex-direction: column;
    text-align: center;
  }
  .landing-page-footer h2,
  .landing-page-footer-title {
    color: var(--color-blue);
    margin-top: 20px;
    font-size: 24px;
  }
  .landing-page-footer .landing-page-footer-middle  >div >div span {
    padding: 0 15px;
    cursor: pointer;
    text-decoration:underline;
    border-right: 1px solid white;
  }
  .landing-page-footer .landing-page-footer-middle >div >div span:last-child {
    border: none;
  }
  .landing-page-footer-item p {
    color: #ffffff;
    margin-bottom: 10px;
  }


/* ===============
Home News
=================*/



input.d-none {
    display: none;
}

.cards {
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}


#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 20%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 15%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 20%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.ant-steps .ant-steps-item-icon {
    background-color: var(--color-blue) !important;
    border-color: var(--color-blue) !important;
  }
.ant-steps-icon {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}
.ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  width: auto !important;
  text-align: left !important;
}