
.profile-charity-menu-item.active  {
    color: var(--color-blue);
    border-bottom: 1.5px solid var(--color-blue) !important;
}
.profile-charity-menu-item:hover {
    color: var(--color-blue);
}
.btn-primary.charity-un-follow-profile {
    padding: 9px 20px !important;
    /* position: absolute;
    bottom: 25px;
    right: 20px; */
    background: #a8a8a8 !important;
    border: 1px solid #a8a8a8 !important;
}