.dp-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    /* margin: 7px 15px 10px 0; */
    padding: 0 5px;
}

.dp-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.dp-input-search {
    width: 300px;
    margin-right: 10px;
    /* height: 100%; */
    
}
.cs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    margin: 6px 0 12px 0;
    /* padding: 0 5px; */
}

.cs-input-search {
    width: 300px;
    /* margin-right: 10px; */
    /* height: 100%; */
    
}

/* .dp-create {
    background-color: var(--color-blue)
}   
.dp-create:hover {
    opacity: 0.5;
} */

.dpd-modal {
    z-index: 10;
}
.dpd-modal .ant-form-item {
    margin-bottom: 0;
}

.dpd-modal .ant-modal-title {
    font-size: 24px;
}

