/* .sb-layout {
    margin: 0 160px 0 440px;
    min-height: calc(100vh - 56px);
}
  
.sb-sidebar {
    position: fixed;
    width: 280px;
    top: 100px;
    left: 160px;
    bottom: 0;
    background: #FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb-sidebar .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none;
}
.sb-menu {
    font-size: 18px;
} */


.sb-layout {
    margin: 0 10% 0 28%;
    min-height: calc(100vh - 56px);
}
  
.sb-sidebar {
    position: fixed;
    width: 18%;
    top: 100px;
    left: 10%;
    bottom: 0;
    background: #FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb-sidebar .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none;
}
.sb-menu {
    font-size: 18px;
}