.main {
  background-color: #f2f5f7;
  padding-top: 0.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100vh;
  /* font-family: "Quicksand", sans-serif; */
}

.header-title {
  margin-top: 10px;
  margin-bottom: 20px;
}
