.main {
  background-color: #f2f5f7;
  padding-top: 0.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 60px;
  min-height: 100vh;
  /* font-family: "Quicksand", sans-serif; */

  .header-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;

    .list {
      .ant-table table {
        font-size: 9px;
      }
    }
  }
}
