.header {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 3.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #44b3cf;
}

.header-title {
  color: #767676;
  font-weight: 500;
}

.img-header {
  width: 2rem;
}

.user-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.user-name {
  color: #595959;
  font-size: 1.1rem;
  font-weight: 400;
}
