.main {
  background-color: #f2f5f7;
  padding-top: 0.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* font-family: "Quicksand", sans-serif; */
}

.header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.header-table button {
  display: block;
  font-size: 0.9rem;
  padding: 10px 5px;
  width: 11rem;
  height: 36px;
  border-radius: 6px;
  background-color: rgb(78, 115, 223);
  color: white;
  outline: none;
  border: none;
}

.header-table button:hover {
  cursor: pointer;
  background-color: rgba(78, 115, 223, 0.9);
}

.header-title {
  font-size: 1.4rem;
  font-weight: 600;
  /* font-family: "Quicksand", sans-serif; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

table,
th,
td {
  /* border: 1px solid #ccc; */
  height: 52px;
  padding-left: 1.4rem;
  font-size: 0.8rem;
}

tr:hover {
  background-color: #f8fafb;
}

.list {
  margin: auto;
  background-color: white;
}

.user-list {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.user-list p {
  font-size: 16px;
}

.find-user {
  display: block;
  font-size: 1rem;
  width: 11rem;
  border-radius: 500px;
  padding: 8px 8px 8px 16px;
  border: none;
  background-color: #f3f7f9;
}

.first-column {
  background-color: #f2f5f7;
}

.table-button button {
  height: 36px;
  width: 120px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.02);
}

.table-button button:hover {
  cursor: pointer;
}

.table-button {
  display: flex;
  align-items: center;
}

.edit {
  margin-right: 16px;
}

/* .delete {
  color: #f56a57;
} */

tr:hover .edit {
  color: #6fcad8;
}

tr:hover .delete {
  color: #f56a57;
}

.edit,
.delete {
  border: 2px;
  background-color: #eceff1;
  display: flex;
  align-items: center;
}

.stt {
  width: 6%;
}

.userName {
  width: 28%;
}

.email {
  width: 20%;
}

.role {
  width: 16%;
}

.editHeader {
  width: 30%;
}

.icon-edit,
.icon-delete {
  width: 1.2rem;
  height: 1.2rem;
  color: #38383a;
  margin-right: 6px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 30px;
}

.footer-text {
  color: #cacbd6;
}

.footer-control {
  width: 200px;
  display: flex;
  align-items: center;
}

.icon-left,
.icon-right {
  display: block;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  padding: 8px 12px;
}

.icon-left:hover,
.icon-right:hover {
  cursor: pointer;
  color: #cacbd6;
}
