.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  position: relative;
}

.container {
  overflow: hidden;
}

.control {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
