.main {
  background-color: #f2f5f7;
  padding-top: 0.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100vh;
  margin-top: 60px;
  /* font-family: "Quicksand", sans-serif; */
}

.headerCharity {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.titleCharity {
  font-size: 20px;
}

.verify {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 600px;
}

.verify-buttons {
  display: flex;
  gap: 12px;
}

.verify-buttons .open-file {
  border: none;
}

.verify-buttons .btn-verify {
  border: none;
  color: white;
  background-color: #44b3cf;
}

.pager {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.star-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.star {
  width: 18px;
  height: 18px;
}
